doctype HTML
head
    title=graphene
    script(src='https://code.jquery.com/jquery-1.11.2.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js', type='text/javascript')
    script(src='dist/bundle.js', type='text/javascript')
    script(src='dist/graph.js', type='text/javascript')
body
    #content
        
